Theme (
    resources: {
        "BAR_BACKGROUND": "#EDEEED",
        "OVERVIEW_GRID_BACKGROUND": "#ECEDEB",
        "TASK_VIEW_GRID_BACKGROUND": "#FAFAFA",
        "SEPARATOR_COLOR": "#3B434A",
    }
)