Theme (
    styles: {
        "top_bar": (
            properties: {
                "padding_left": 4,
                "padding_right": 4,
                "height": 52,
                "background": "$FIORD"
            }
        ),
        "bottom_bar": (
              properties: {
                "padding_left": 4,
                "padding_right": 4,
                "height": 52,
                "background": "$FIORD"
              }
        ),
        "header": (
            base: "base",
            properties: {
                "font_size": "$FONT_SIZE_24",
            }
        ),
        "title": (
            base: "base",
            properties: {
                "foreground": "$PERIWINKLE_GRAY",
            }
        ),
        "text_box_inline": (
            base: "text_box",
            properties: {
                "background": "transparent",
                "border_brush": "transparent"
            }
        ),
        "inplace": (
            base: "text_box",
            properties: {
                "foreground": "$LINK_WATER",
                "background": "transparent",
                "border_brush": "transparent",
                "border_thickness": 1,
                "border_radius": 2,
                "padding": 6
            },
            states: {
                 "focused": {
                    "background": "$BRIGHT_GRAY",
                },
                "empty": {
                    "foreground": "$SILVER_CHALICE",
                },
                "empty_focused": {
                    "background": "$BRIGHT_GRAY",
                }
            }
        ),
        "icon_only": (
            base: "button",
            properties: {
                "icon_brush": "$LINK_WATER",
                "background": "transparent",
                "spacing": 0,
                "min_width": 32,
                "height": 32
            },
            states: {
                 "pressed": {
                    "background": "$BLUE_BAYOUX",
                },
                "disabled": {
                    "icon_brush": "$MANATEE",
                },
            }
        ),
        "item_button": (
             properties: {
                "background": "transparent",
                "border_radius": 0,
                "height": 48
            }
        ),
        "items_widget": (
             properties: {
                "padding": 0,
                "border_brush": "transparent",
                "background": "transparent",
            }
        ),
        "list_view_item": (
             properties: {
                "padding_left": 8,
                "padding_right": 8,
                "height": 48,
                "background": "transparent",
            },
            states: {
                "pressed": {
                    "background": "$BLUE_BAYOUX"
                }
            }
        ),
        "button_float": (
            base: "base",
            properties: {
                "width": 42,
                "height": 42,
                "foreground": "$LINK_WATER",
                "icon_brush": "$LINK_WATER",
                "background": "$LYNCH",
                "border_radius": 21,
                "spacing": 0
            }, 
            states: {
                "pressed": {
                    "background": "$BLUE_BAYOUX",
                },
                "selected": {
                    "background": "$BLUE_BAYOUX",
                },
                "disabled": {
                    "background": "$ROLLING_STONE",
                    "foreground": "$BRIGHT_GRAY",
                    "icon_brush": "$BRIGHT_GRAY",
                },
            },
        )
    }
)