Theme (
    styles: {
        "top_bar": (
            properties: {
                "padding_left": 4,
                "padding_right": 4,
                "height": 52,
                "background": "$GRAY_NURSE"
            }
        ),
        "bottom_bar": (
              properties: {
                "padding_left": 4,
                "padding_right": 4,
                "height": 42,
                "background": "$GRAY_NURSE"
              }
        ),
        "header": (
            base: "base",
            properties: {
                "foreground": "$BRIGHT_GRAY",
                "font_size": "$FONT_SIZE_24",
            }
        ),
        "title": (
            base: "base",
            properties: {
                "foreground": "$BRIGHT_GRAY",
            }
        ),
        "text_box_inline": (
            base: "text_box",
            properties: {
                "background": "transparent",
                "border_brush": "transparent"
            }
        ),
        "inplace": (
            base: "text_box",
            properties: {
                "foreground": "$LINK_WATER",
                "background": "transparent",
                "border_brush": "transparent",
                "border_thickness": 1,
                "border_radius": 2,
                "padding": 6
            },
            states: {
                 "focused": {
                    "background": "$BRIGHT_GRAY",
                },
                "empty": {
                    "foreground": "$SILVER_CHALICE",
                },
                "empty_focused": {
                    "background": "$BRIGHT_GRAY",
                }
            }
        ),
        "button_icon_only": (
            base: "button",
            properties: {
                "icon_brush": "$BRIGHT_GRAY",
                "background": "transparent",
                "spacing": 0,
                "min_width": 32,
                "height": 32
            },
            states: {
                 "pressed": {
                    "background": "$BLUE_BAYOUX",
                },
                "disabled": {
                    "icon_brush": "$MANATEE",
                },
            }
        ),
        "item_button": (
             properties: {
                "background": "transparent",
                "border_radius": 0,
                "height": 48
            }
        ),
        "items_widget": (
             properties: {
                "padding": 0,
                "border_brush": "transparent",
                "background": "transparent",
            }
        ),
        "button_float": (
            base: "base",
            properties: {
                "width": 42,
                "height": 42,
                "icon_brush": "$BRIGHT_GRAY",
                "background": "$GOLDEN_DREAM",
                "border_radius": 21,
                "spacing": 0,
            }, 
            states: {
                "pressed": {
                    "background": "$BLUE_BAYOUX",
                },
                "selected": {
                    "background": "$BLUE_BAYOUX",
                },
                "disabled": {
                    "background": "$ROLLING_STONE",
                    "foreground": "$BRIGHT_GRAY",
                    "icon_brush": "$BRIGHT_GRAY",
                },
            },
        ),
        "separator": (
            properties: {
                "background": "$BRIGHT_GRAY"
            }
        ),
        "text_box_inline": (
            base: "base",
            properties: {
                "height": 32,
                "foreground": "$BRIGHT_GRAY",
                "background": "transparent",
                "border_brush": "transparent",
                "border_width": 0,
                "border_radius": 3,
                "padding": 6,
            },
            states: {
                "focused": {
                    "border_brush": "$GOLDEN_DREAM",
                     "border_width": 1,
                },
                "empty": {
                    "foreground": "$SILVER_CHALICE",
                },
                "empty_focused": {
                    "foreground": "$SILVER_CHALICE",
                    "border_brush": "$GOLDEN_DREAM",
                    "border_width": 1,
                }
            },
        ),
        "text_box_header": (
            base: "text_box_inline",
            properties: {
                "font_size": "$FONT_SIZE_24",
                "height": 40
            },
            states: {
                "empty": {
                    "foreground": "$BRIGHT_GRAY",
                }
            }
        ),
        "button_transparent": (
            base: "base",
            properties: {
                "background": "transparent",
                "border_radius": 0
            },
            states: {
                "pressed": {
                    "background": "$SILVER_CHALICE",
                },
            },
        ),
    }
)