.top_bar, .bottom_bar {
    background: #475b6e;
}

.header {
    font-size: 24;
    font-family: "Roboto Medium";
}

text-box.inplace {
    color: #dfebf5;
    background: transparent;
    border-color: transparent;
    border-width: 1;
    border-radius: 2;
    padding: 6;
}

text-box.inplace:focus {
    background: #3b434a;
    border-color: #f8de4c;;
}

text-box.inplace:empty {
    color: #9E9E9E
}

.icon_only {
    icon-color: #dfebf5;
    background: transparent;
    spacing: 0;
}

.icon_only:active {
    background: #516475;
    icon-color: #dfebf5;
}

.icon_only:disabled {
    icon-color: #949ca5;
    background: transparent;
}

items-widget {
    border-color: transparent;
}