Theme (
    resources: {
        "BAR_BACKGROUND": "#475B6E",
        "OVERVIEW_GRID_BACKGROUND": "#F5F6F7",
        "TASK_VIEW_GRID_BACKGROUND": "#ffffff",
        "SEPARATOR_COLOR": "#CED6E5",
    }
)